__pycache__/buggy_widget.cpython-312.pyc
__pycache__/cycle_image_label.cpython-312.pyc
__pycache__/editable_label.cpython-312.pyc
__pycache__/path_visualizer.cpython-312.pyc
__pycache__/playback.cpython-312.pyc
__pycache__/buggy_widget.cpython-310.pyc
__pycache__/buggy_widget.cpython-310.pyc
